# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
- Popular languages of Data Science 
- Commonly used libraries of Data Science
- Development environments for Data science
- Basic arithmetic expressions in python

Some of the popular languages that Data Scientists use are: 
1. Python. 
2. R.
3. SQL.
4. Scala.
5. Java.
6. C++.
7. Julia.

Some of the commonly used libraries used by Data Scientist include:
1. Scientific cumputing libraries such as Pandas, and NumPy.
2. Visualization such as Matplotlib and Seaborn.
3. Deep Learning libraries such as SciKit and Keras.

Some of the commonly used three develpoment environments are:
|Data Science Tools|
|:---:|
|RStudio| 
|Apache spark|       
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [40]:
9-5

4

In [41]:
4+1

5

In [42]:
5*90

450

In [43]:
450/14

32.142857142857146

In [44]:
2**4

16

In [48]:
a = 25 
b = 85
c = 2*(a + b)
print(c)

220

This a simple arithmetic expression to multiply then add integers

In [46]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [47]:
x = 200 
Hours = x / 60
print(Hours)

3.3333333333333335

## Author
Jes√∫s Antonio Rea Carrillo